# Appwrite
NUXT_PUBLIC_APPWRITE_ENDPOINT=
NUXT_PUBLIC_APPWRITE_PROJECT_ID=

NUXT_APPWRITE_API_KEY=

NUXT_APPWRITE_DATABASE_ID=
NUXT_APPWRITE_TRIPS_TABLE_ID=
NUXT_APPWRITE_CHECKLIST_GROUPS_TABLE_ID=
NUXT_APPWRITE_CHECKLIST_ITEMS_TABLE_ID=
NUXT_APPWRITE_TRANSPORT_TABLE_ID=
NUXT_APPWRITE_ACCOMMODATIONS_TABLE_ID=